* {
	/* Just looks dorky if you accidentally select something */
	-webkit-user-select: none;
}

html {
	background-image: url(../img/handle.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	box-sizing: border-box;
	height: 100%;
	background-color: transparent;
	overflow: hidden;
}

body {
	margin: 0;
	color: #ccc;
	font-family: 'Calibri';
	text-shadow: -1px 0 3px #4596ba, 0 1px 3px #4596ba, 1px 0 3px #4596ba, 0 -1px 3px #4596ba;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tabs, .stats li:hover {
	color: #DED7BE;
	text-shadow: -1px 0 2px #795516, 0 1px 2px #795516, 1px 0 2px #795516, 0 -1px 2px #795516;
}

.container {
	position: relative;
	line-height: 0;
}

.y-axis {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 100%;
}

.y-axis .label {
	position: absolute;
	width: 100%;
	font-size: 0;
	white-space: nowrap;
}

.y-axis img {
	display: inline-block;
	vertical-align: bottom;
}

.y-axis .text {
	display: inline-block;
}

.controls {
	font-size: 11px;
}

.tabs {
	height: 20px;
}

.tabs li {
	display: inline-block;
	height: 100%;
	line-height: 20px;
	cursor: pointer;

	/* Basically invisible, just need to put something there so it accepts clicks */
	background: rgba(0, 0, 0, 0.01);
}

.tabs li.active {
	background: rgba(0, 0, 0, 0.75);
}

.tab-content {
	position: absolute;
	top: 20px;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	display: none;
	background: rgba(0, 0, 0, 0.75);
	overflow-y: auto;
}

.stats li {
	cursor: pointer;
}
