html {
	background-image: url(../img/handle.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	box-sizing: border-box;
	height: 100%;
	background-color: transparent;
	overflow: hidden;
}

body {
	margin: 0;
}

.reload {
	margin: 0;
	background: blue;
	color: white;
	text-align: center;
	line-height: 20px;
}

.container {
	position: relative;
	line-height: 0;
}

.y-axis {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 100%;
}

.y-axis .label {
	position: absolute;
	width: 100%;
	height: 20px;
	margin-bottom: -10px;
	font-size: 0;
	white-space: nowrap;
}

.y-axis img {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: bottom;
}

.y-axis .text {
	display: inline-block;
	margin-left: 5px;
	color: #ccc;
	font: 10px/10px 'Calibri';
	text-shadow: -1px 0 3px #4596ba, 0 1px 3px #4596ba, 1px 0 3px #4596ba, 0 -1px 3px #4596ba;
}
